/* INPUTS*/

#tld-wpeti-meta-wrap{
  text-align: center;
}

.tld-wpeti-meta-float-left {
float: left;
width: 50%
}

.tld-wpeti-tweet-inputs{
  width: 95%;
}

.tld-wpeti-number-input{
  width: 15%;
}

.tld-wpeti-clearfix{
  clear: both;
}
