/*== Front End ==*/

#tld-tweet-container{
  text-align: center;
  padding: 20px 0 20px 0;
  margin-bottom: 15px;
}

a#tld-tweet-text {
  text-decoration: none;
}

a#tld-tweet-text:hover {
  color: currentColor;
}

#tld-tweet-container p{
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 20px;
}

#tld-tweet-container.lobster-two p{
  font-family: 'Lobster Two';
}

#tld-tweet-container.raleway p{
  font-family: 'Raleway';
}

#tld-tweet-container.titillium-web p{
  font-family: 'Titillium Web';
}

#tld-tweet-container.indie-flower p{
  font-family: 'Indie Flower';
}

#tld-tweet-container.inherit p{
  font-family: inherit;
}

/*== Templates ==*/

/*=== Default ===*/

.tld-default{
  padding: 30px !important;
}


/*=== Twitter default ===*/
.tld-default-twitter{
  background: #55acee;
  color: #fff;
  border-radius: 8px;
}

.tld-default-twitter a{
  color: #fff;
}

#tld-tweet-container .icon-twitter{
  margin-left: 10px;
}

/*=== Minimalist ===*/
.tld-minimalist{
  border: 2px solid #000 !important;
  border-radius: 10px;
}

/*=== Border Dashed ===*/

.tld-border-dashed{
  border: 2px dashed #000 !important;
  border-radius: 10px;
}
